# Docker Compose Variables
POSTGRES_USER=tu_usuario_db
POSTGRES_PASSWORD=tu_password_db
POSTGRES_DB=nombre_de_tu_db

# Application Variables
DATABASE_URL="postgresql://tu_usuario_db:tu_password_db@localhost:5433/nombre_de_tu_db?schema=public"
JWT_SECRET="tu_secreto_jwt_muy_seguro_y_largo"
