# dependencias
node_modules
.pnpm-store

# next.js
.next/
out/

# nest.js y build
dist/

# turborepo
.turbo

# prisma
*.db
*.db-journal

# variables de entorno (¡CRÍTICO!)
.env
.env.*.local
.env.local

# logs y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
